<!DOCTYPE html>
<html lang="en">
<head>
    <title>Automation Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">IT Tools Service Portal</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">My Requests</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a></li>
    </ul>
        </div>
    </nav>
</head>
<body>

<div class="container" style="padding:2em">
<div class="col-md-4">
         <div class="panel panel-default ">
             <div class="panel-heading"><h3>Service Request</h3></div>
                <div class="panel-body">
                      Request for a standard change or information
                <p>
                </p>
                     <button type="button" class="btn btn-default btn-md">
          <span class="glyphicon glyphicon-wrench"></span> Create a request
        </button>
                </div>
          </div>
    </div>
    <div class="col-md-4">
         <div class="panel panel-default">
             <div class="panel-heading"><h3>Report an Issue</h3></div>
                <div class="panel-body">
                      Report an issue with any of the tools
                <p>
                </p>
                    <button type="button" class="btn btn-default btn-md">
          <span class="glyphicon glyphicon-exclamation-sign"></span> Report an Incident
        </button>
                </div>
          </div>
    </div>
    <div class="col-md-4">
         <div class="panel panel-default">
             <div class="panel-heading"><h3>Request for a change</h3></div>
                <div class="panel-body">
                      Request a modification or addition of features
                    <p>
                </p>
                    <button type="button" class="btn btn-default btn-md ">
          <span class="glyphicon glyphicon-retweet"></span> Request a change
        </button>
                </div>
          </div>
    </div>
</div>
<div class="container" style="padding:3em">
    <h3>Features</h3>
    <blockquote class="col-sm-12">
        <h5>Request changes in Azure DevOps, DMS, DMA, MagicDraw, The HUB, MyBalsamiq, TTS</h5>
        <h5>Track Requests</h5>
        <h5>Get notification</h5>
    </blockquote>
    <h3>Support</h3>
    <blockquote class="col-sm-12">
        <h5>The IT Tools Support portal is created and managed by the ITTools team. For any question you may have, please contact
       AnjushreeS@eurofins.com</h5>
    </blockquote>
</div>

</body>
</html>
